html {background-color: #F5DEB3;}
.name
	{text-align: center;
		font-family: Verdana, Arial;
		font-size: 18px;}
.contact
	{text-align: center;
		font-family: Verdana, Arial;
		font-size: 11px;}
.education
	{text-align: left;
		font-family: Verdana, Arial;
		font-size: 12px;
		border-radius: 30px
		padding: 20px;
		background-color: #B0E0E6;
	}
h3
	{border-bottom: 1px solid black;
		color: blue;
	}
.left
	{float:left;}
.right
	{float:right;}
.work
	{text-align: left;
		font-family: Verdana, Arial;
		font-size: 12px;}
.volunteer
	{text-align: left;
		font-family: Verdana, Arial;
		font-size: 12px;}
