.name
	{text-align: center;
		font-family: Verdana, Arial;
		font-size: 18px;}
.contact
	{text-align: center;
		font-family: Verdana, Arial;
		font-size: 10px;}
.education
	{font-family: Verdana, Arial;
		font-size: 12px;}
h3
	{border-bottom: 1px solid black;}
.left
	{float:left;}
.right
	{float:right;}
.work
	{font-family: Verdana, Arial;
		font-size: 12px;}
.volunteer
	{font-family: Verdana, Arial;
		font-size: 12px;}
